@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager navigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid justify-content-center">
        <a class="navbar-brand" href="">
            <img src="logo.png" class="logo">
        </a>
        <div class="text-color">BlazorHybridAppDemo</div>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="NavMenuCssClass nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="coffees">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Coffees
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="Logout" style="cursor:pointer">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Logout
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="Login" style="cursor:pointer">
                        <span class="bi bi-login-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        @* <div class="nav-item px-3">
        <NavLink class="nav-link" href="counter">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
        </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="weather">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
        </NavLink>
        </div> *@

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async Task Login()
    {
        var authStateProvider = (ICustomAuthStateProvider)AuthStateProvider;
        await authStateProvider.LogInAsync();
    }
    private async Task Logout()
    {
        var authStateProvider = (ICustomAuthStateProvider)AuthStateProvider;
        authStateProvider.Logout();
        navigationManager.NavigateTo("");
    }
}
